@import url("../../App.css");

.pagination-lists {
    display: flex;
    gap: .8em;
}

.pagination-nav {
    display: inline-block;
    cursor: pointer;
    padding: .5em .9em;
    border-radius: 8px;
}

.pagination-nav a {
    color: var(--black-1);
}

.pagination--active a {
    color: var(--red);
    font-weight: bold;
}

.pagination-nav a:hover {
    color: var(--red);
    font-weight: bold;
}

.pagination--prev,
.pagination--next {
    background-color: var(--red);
}

.pagination--prev a,
.pagination--next a {
    color: var(--white);
}

.pagination--prev a:hover,
.pagination--next a:hover{
    color: var(--white);
}
