@import url("../../App.css");

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1em 7%;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.action-button--primary {
    background-color: var(--red);
}

.action-button--primary:hover{
    background-color: var(--maroon);
}

.action-button--secondary {
    background-color: var(--green-1);
}

.action-button--secondary:hover {
    background-color: var(--green-3);
}

.action-button--small {
    padding: .5em 4%;
}

/* button */
.goto-button {
    cursor: pointer;
    background-color: var(--green-3);
    border-radius: 8px;
    text-align: center;
    color: var(--white);
    padding: .5em 0;
    flex: 1;
    transition: .3s;
}

.goto-button:hover {
    background-color: var(--green-1);
}


@media (max-width: 575.98px) { 
    .see-more{
        padding: 1em 2em;
    }
}