@import url("../../App.css");

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8em;
    padding: .9em
}

.form--horizontal {
    flex-direction: row;
}

.form--on-background {
    --white: var(--green-3);
    --black-1: white;
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-input--horizontal {
    flex-direction: row;
    align-items: flex-start;
}

.form-input__label {
    color: var(--white);
    flex: 3;
}

.form-input__input {
    flex: 12;
    width: 100%;
    background-color: transparent;
    color: var(--white);
    outline: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 1.3em;
    transition: .3s;
}

.form-input__input:focus{
    background-color: var(--white);
    color: var(--black-1);
}

.form-submit {
    background-color: transparent;
    border: 1px solid var(--red);
    border-radius: 8px;
    padding: 1em;
    color: var(--red);
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.form-submit:hover {
    background-color: var(--red);
    color: white
}

/* select */
.select {
    padding: .9em;
    position: relative;
}

.select-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3em;
    cursor: pointer;
}

.select-options {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin-top: .3em;
    list-style-type: none;
    background-color: var(--white);
    width: 100%;
    max-height: 0;
    opacity: 0;
    box-shadow: 1px 1px 10px -3px var(--black-1);
    border-radius: 8px;
    overflow: auto;
    transition: .3s;
    z-index: 10;
    color: var(--black-1);
}

.select-options--open {
    max-height: 150px;
    opacity: 1;
}

.select-options__item {
    padding: .5em 1em;
    cursor: pointer;
    transition: .3s;
}

.select-options__item:hover {
    background-color: var(--red);
    color: white;
}

/* textarea */
.text-area-input:empty::before {
    content: attr(data-placeholder);
}

.text-area-input {
    max-height: 20em;
    overflow: auto;
}


@media (max-width: 991.98px) {
    .form-input__input{
        padding: 1.2em;
    }

    .select {
        padding: 1em;
    }
}

@media (max-width: 797.98px) {
    .form-input__input{
        padding: .9em;
    }

    .select {
        padding: 1em;
    }
}

@media (max-width: 575.98px) { 
    .form-input--horizontal {
        flex-direction: column;
        align-items: flex-start;
    }

    .form--horizontal {
        flex-direction: column;
    }
}