@import url("../../App.css");

.register-page-wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 2em;
    box-shadow: 1px 1px 10px -3px var(--black-1);
    background-color: var(--purple-4);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 1em
}

.register-header {
    margin-top: 1em;
}

.register-body{
    width: 100%;
}