@import url("../../App.css");

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    background-color: var(--night);
    border-radius: 8px;
}

.filter-container--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 20;
    animation: fadeIn .3s ease-out;
}