@import url("../../App.css");

/* tab */
.tab-navs {
    border-color: var(--grey-3);
    border-style: solid;
    border-width: 2px 0;
    margin-top: 1em;
    padding: .8em 2em;
}

.tab-navs__item {
    display: inline-block;
    margin-right: 1em;
}

.tab-navs__item h4 {
    color: var(--grey-1) ;
    cursor: pointer;
    transition: .3s;
}

.tab-navs__item h4:hover {
    color: var(--black-1) ;
    font-weight: bold;
}

.tab-navs--active h4 {
    color: var(--black-1);
    font-weight: bold;
}

.tab-display {
    margin-top: .5em;
}