@import url("../../App.css");

.home-page {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.section-title {
    color: var(--red);
}

.section-action {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}